DATABASE_URL=postgres://wifizone:wifizone@localhost:5433/wifizone
DJANGO_SECRET_KEY=change-me-in-production-use-long-random-string
DJANGO_DEBUG=true
DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1,votre-domaine.com
MIKROTIK_MOCK_MODE=true
DJANGO_SUPERUSER_USERNAME=admin
DJANGO_SUPERUSER_PASSWORD=admin1234
DJANGO_SUPERUSER_EMAIL=admin@wifizone.local
